/* Global */
body {
background-color: #70527c;
}


p {
white-space: normal;
word-wrap: break-word;
overflow-wrap: break-word;
}


/* --- Contenedor lila --- */
.cajita-fondo {
background-color: #ccaed0;
width: 100%;
min-height: 100vh;
padding: 1.5rem;
border-radius: 12px;
box-shadow: 0 4px 24px rgba(0,0,0,.12);
}


.cajita-fondo2 {
background-color: white;
width: 100%;
min-height: 15vh;
padding: 1.5rem;
border-radius: 12px;
box-shadow: 0 4px 24px rgba(0,0,0,.12);
margin-bottom: 2rem;
}


.cajita-fondo3 {
background-color: white;
width: 100%;
min-height: 3vh;
padding: 1.5rem;
border-radius: 12px;
box-shadow: 0 4px 24px rgba(0,0,0,.12);
margin-bottom: 1rem;
}


/* --- Navbar centrada --- */
.navbar {
justify-content: center;
position: relative;
}


/* --- Tabs --- */
.nav-link:hover {
color: #d63384;
}
.nav-link.active:hover {
color: #b02a6b;
}


.botonRosado {
background-color: #d63384;
color: white;
border-color: #d63384;
}